@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

html, body {
  font-family: 'Gloria Hallelujah', cursive;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#msg {
  font-size: 1.5em;
}

#plan {
  margin: 25px 35%;
  width: 400px;
}

.room {
  position: relative;
  border: black 5px solid; 
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  
}

.room:before {         
  content: "";
  position: absolute;
} 

.room:after {       
  content: "";
  position: absolute;
}



.roomName {
  margin-left: auto;
	margin-right: auto;
  font-weight: bold; 
  font-size: 1em;
  color: black;
}


/******************************************/
/*  ROOMS                                 */
/******************************************/
#area1 {
  left: 0;
  top: 0;
  width: 180px;
  height: 180px;
/*   border-left-color: transparent;   */
/*   border-right-color: transparent;  */
}


/* Front door (first half)*/
#area1:after {
  top: 120px;
  left: 150px;
  height: 30px;
  width: 30px;
  border-width: 5px;
  border-style: double solid none none;
  border-color: black #f7f7f7  #f7f7f7 #f7f7f7;
/*   border-radius: 0 0  27px  0;  */
}

#area2{
  left: 190px;
  top: -190px;
  width: 400px;
  height: 181px;
  border-left-color: transparent; 
  line-height: 100px;  /* FIXME: center text */
  border-bottom-color: transparent;  
}



#area3{
  left: 425px;
  top: -377px;
  width: 160px;
  height: 60px;
  line-height: 100px;  /* FIXME: center text */
  border-style: dotted;
  border-top-color: transparent; 
  border-right-color: transparent; 
} 

#area4{
  left: 0px;
  top: -265px;
  width: 180px;
  height: 60px;
/*   border-left-color: transparent;   */
/*   border-right-color: transparent;  */
}


/* Front door (first half)*/
#area4:after {
  top: -35px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-width: 5px;
  border-style: none none solid double;
  border-color: #f7f7f7 #f7f7f7 #f7f7f7 black;
/*   border-radius: 0 0  27px  0;  */
}


#area5{
  left: 185px;
  top: -335px;
  width: 180px;
  height: 60px;
/*   border-left-color: transparent;   */
/*   border-right-color: transparent;  */
}


/* Front door (first half)*/
#area5:after {
  top: 5px;
  left: -5px;
  height: 20px;
  width: 20px;
  border-width: 5px;
  border-style: none none double solid;
  border-color: #f7f7f7 #f7f7f7 black #f7f7f7;
/*   border-radius: 0 0  27px  0;  */
}
 

#area6{
  left: 370px;
  top: -405px;
  width: 115px;
  height: 60px;
/*   border-left-color: transparent;   */
/*   border-right-color: transparent;  */
}


/* Front door (first half)*/


#area7{
  left: 493px;
  top: -480px;
  width: 97px;
  height: 63px;
  border-left-color: transparent;  
 border-top-color: transparent;  
}

#area7:before {
  top: 10px;
  left: -8px;
  height: 20px;
  width: 20px;
  border-width: 5px;
  border-style: none none double solid;
  border-color: #f7f7f7 #f7f7f7 black #f7f7f7;
/*   border-radius: 0 0  27px  0;  */
}

/* Front door (first half)*/
#area7:after {
  top: 43px;
  left: 50px;
  height: 20px;
  width: 20px;
  border-width: 5px;
  border-style: none none solid double;
  border-color: #f7f7f7 #f7f7f7 #f7f7f7 black;
}

#msg2 {
  font-size: 1.5em;
}

